# Python
__pycache__/
*.py[cod]
*.pyo
.env
.venv/
venv/
dist/
build/
*.egg-info/
.pytest_cache/

# Node
node_modules/
.next/
.env.local
.env.production
frontend-preview/

# Sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Zip de referência
*.zip
